.bottomLine{
    position: relative;
}
.bottomLine::after{
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 1px;
    width: 40%;
    background-color: #121212;
}
.bottomLineRight{
    position: relative;
}
.bottomLineRight::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 1px;
    width: 40%;
    background-color: #121212;
}